<nav class="row">
    <p class="row">
        João Paulo Santana Gusmão - Contatos
    </p>
    <ul class="col" id="dev">
        <li>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>(33) 9 9906-5029
        </li>
        <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>teo.itinga@gmail.com
        </li>
        <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>@joaopaulosantana
        </li>
        <li>
            <i class="fa fa-facebook" aria-hidden="true"></i>facebook
        </li>
        <li>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>teo.itinga
        </li>
    </ul>
    <p class="row">
        Tecnologias utilizadas
    </p>
    <ul class="col">
        <li>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" alt="">
        </li>
        <li>
            <img src="https://img2.gratispng.com/20180425/jrw/kisspng-node-js-javascript-web-application-express-js-comp-5ae0f84e2a4242.1423638015246930701731.jpg" alt="">
        </li>
        <li>
            <img src="https://img2.gratispng.com/20180819/xv/kisspng-logo-mysql-cluster-database-oracle-corporation-macrosolution-5b7962c3aaa0d2.7413479715346817956989.jpg" alt="">
        </li>
        <li>
            <img src="https://seeklogo.com/images/J/javascript-js-logo-2949701702-seeklogo.com.png" alt="">
        </li>
        <li>
            <img src="https://seeklogo.com/images/B/bootstrap-logo-69A1CCC10B-seeklogo.com.png" alt="">
        </li>
    </ul>
</nav>
