<div *ngIf="inputRebanho.length; else notActions">

  <div class="row">
    <div class="col">
      <strong>
        Categoria:
      </strong>
    </div>
    <div class="col">
      <strong>
        Quantidade
      </strong>
    </div>
    <div class="col">
      <strong>
        UA da categoria
      </strong>
    </div>
  </div>
  <article class="" *ngFor="let rb of inputRebanho">
    <div class="row linha">
      <div class="col-1">
        <i class="bi bi-journal-x text-danger" tooltip="Excluir esta categoria" (click)="removerCategoria(rb, $event)"></i>
      </div>
      <div class="col">
        {{rb.categoria.representacao}}
      </div>
      <div class="col">
        {{rb.quantidade}}
      </div>
      <div class="col">
        {{totalUa(rb)}}
      </div>
    </div>
  </article>
  <div class="row">
    <h2><p>
      <strong>
        Total de cabeças: {{qtdRebanho()}} / {{uaRebanho()}} Unidade animal-UA 
      </strong>
    </p></h2>
  </div>
</div>
<ng-template #notActions>
  <article class="text-danger" colspan="3">
    Para efetuar os cálculos, é necessário informar seu rebanho!
  </article>
</ng-template>