<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Beneficiários</th>
      <th scope="col">Serviço</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tasks$ | async">
      <td (dblclick)="cpfCopy(t.cpf)">{{t.data | date:'dd/MM/yyyy'}}</td>
      <td (dblclick)="cpfCopy(t.cpf)" tooltip="Clique duas vezes para copiar o CPF desta pessoa">{{t.customername}}</td>
      <td (dblclick)="cpfCopy(t.cpf)" tooltip="{{t.comments}} - ({{t.emissor_username}})">{{t.description}} </td>
      <td>
        <button (click)="openproject(t.hasprojectid)"  *ngIf="t.hasprojectid" class="btn text-success" tooltip="Detalhes da visita">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button (click)="openproject(t.hasprojectid)"  *ngIf="!t.hasprojectid" class="btn text-secondary" tooltip="Detalhes da visita: não há projetos">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button (click)="onSendComment(t.id, t.customername, t.description)" class="btn text-primary" tooltip="Encaminhar tarefa para outra pessoa.">
          <i class="bi bi-arrow-up-right-square-fill"></i>
        </button>
        <button (click)="onFinalizeTask(t.id)" class="btn text-success" tooltip="Definir como concluída">
          <i class="bi bi-check-circle"></i>
        </button>
        <button (click)="onCancelTask(t.id)" class="btn text-danger" tooltip="Definir como Cancelada.">
          <i class="bi bi-x-circle"></i>
        </button>
        <button (click)="onExpireTask(t.id)" class="btn text-danger"
          tooltip="Definir como Expirada - caso tenha muito tempo e houve desistência">
          <i class="bi bi-hourglass-bottom"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>