.card{
    width: 15em;
    border-radius: 20px;
    margin: 5px;
    padding-top: 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.card:hover{
    background-color: rgb(211, 211, 250);
    opacity: 0.5;
}