<form [formGroup]="form">

    <div class="container">
        <div class="row">
            <p class="p-3 mt-3 form-tittle">{{title}}</p>
        </div>
        <div class="row">
            <div class="col-4">
                <p>
                    Rebanho total:
                </p>
                <input type="range" name="rebanho" id="rebanho" value={{rebanhototal}} min="0" max="1000"
                    (input)="oninput($event)" formControlName="totalrebanho">
                <output id="rebanhorangevalue">{{rebanhototal}}</output> cabeças
            </div>
            <div class="col-4">
                <p>
                    Total de vacas:
                </p>
                <input type="range" name="totalvacas" id="totalvacas" value="{{totalVacas}}" min="0" max={{rebanhototal}}
                    (input)="oninput($event)" formControlName="totalvacas">
                <output id="vacasrangevalue">{{totalVacas}}</output> vacas
            </div>
            <div class="col-4">
                <p>
                    Quantidade de vacas ordenhadas:
                </p>
                <input type="range" name="totalvacasord" id="totalvacasord" value="{{totalVacasOrdenhadas}}" min="0" max={{totalVacas}}
                    (input)="oninput($event)" formControlName="totalvacasord">
                <output id="vacasordrangevalue">{{totalVacasOrdenhadas}}</output> vacas
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>
                    Produção de leite por dia
                </p>
                <input type="range" name="litrosdia" id="litrosdia" value="0" min="0" max="1000"
                    oninput="litrosdiarangevalue.value=value" formControlName="producaodiaria">
                <output id="litrosdiarangevalue">0</output> litros por dia
            </div>
            <div class="col-5">
                <p>
                    Preço do litro de leite:(último valor recebido)
                </p>
                <input type="range" name="precoreais" id="precoreais" value="0" min="0" max="5"
                    (input)="onupdateprice($event)" formControlName="precoporlitro" class="mr-2">
                <input type="range" name="precocentavos" id="precocentavos" value="0" min="0" max="99"
                    (input)="onupdateprice($event)" formControlName="precoporlitro">

                <p>
                    Valor: R$ {{valorlitroleite}}
                </p>
            </div>
            <div class="col-4">
                <div class="col-4 col-md-6">
                    <label class="form-label" for="suplementacao">Suplementação alimentar</label>
                    <select id="suplementacao" class="form-control" formControlName="suplementacao"
                        style="width: 250px;"
                        tooltip="Defina a suplementacao alimentar que o produtor utiliza em sua propriedade;">
                        <option *ngFor='let i of SUPLEMENTACAO_DATA' value="{{i.representacaobd}}">{{i.descricao}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>
                    % Venda de bezerros:
                </p>
                <input type="range" name="vendaBezerros" id="vendaBezerros" value="30" min="0" max="100"
                    oninput="vendaBezerrosrangevalue.value=value" formControlName="percentvendabezerros">
                <output id="vendaBezerrosrangevalue">0</output> %
            </div>
            <div class="col-4">
                <p>
                    % Engorda:
                </p>
                <input type="range" name="vendaBoiGordo" id="vendaBoiGordo" value="30" min="0" max="100"
                    oninput="vendaBoiGordorangevalue.value=value" formControlName="percentboigordo">
                <output id="vendaBoiGordorangevalue">0</output> %
            </div>
            <div class="col-4">
                <div class="col-4 col-md-6">
                    <label class="form-label" for="custoopmensal">Custo operacional mensal</label>
                    <select id="custoopmensal" class="form-control" formControlName="custoopmensal"
                        style="width: 250px;"
                        tooltip="Indique a faixa de custo operacional mensal aplicado na propriedade;">
                        <option *ngFor='let i of CUSTOOPERACIONAL_DATA' value="{{i.representacaobd}}">{{i.descricao}}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">

                <div class="col-4 col-md-6">
                    <label class="form-label" for="forrageira">Suplementação alimentar</label>
                    <select id="forrageira" class="form-control" formControlName="forrageiratipo" style="width: 250px;"
                        tooltip="Especifique a forrageira para corte que o produtor utiliza em sua propriedade;">
                        <option *ngFor='let i of FORRAGEIRA_DATA' value="{{i.representacaobd}}">{{i.descricao}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <p>
                    Área forrageira:
                </p>
                <input type="range" name="areaForragem" id="areaForragem" value="0" min="0" max="30"
                    (input)="onInputAreaForragem($event)" formControlName='forrageiraarea'>
                <output id="areaForragemrangevalue">{{areaForragem}}</output> hectare
            </div>
            <div class="col-4">
                <div class="col-4 col-md-6">
                    <label class="form-label" for="maodeobrautilizada">Mão-de-obra aplicada</label>
                    <select id="maodeobrautilizada" class="form-control" formControlName="maodeobrautilizada" style="width: 250px;"
                        tooltip="Especifique a classe de mão-de-obra aplicada na propriedade;">
                        <option *ngFor='let i of MAO_DE_OBRA_DATA' value="{{i.representacaobd}}">{{i.descricao}}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-end m-3">
            <button type="button" class="btn btn-secondary mr-5"  (click)="onClose()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onConfirm()">Registrar</button>
        </div>
    </div>
</form>