<!-- <p class="mt-2 form-tittle">Dimensionamento de Capineiras</p> -->
<div class="h5 text-center mt-3">
    Informações para o dimensionamento da Capineira
</div>
<h3>
    <p>* Metodologia aplicada de acordo com a publicação da Embrapa: <a href="https://www.alice.cnptia.embrapa.br/alice/bitstream/doc/392557/1/Cap9.pdf">Formação e Utilização de Capineira</a>.</p>
</h3>
<p>
    - A área da capineira atenderá 25% do consumo diário das vacas (a pastagem fornecerá os 75% restantes).
</p>
<p>
    - Forragem verde com 25% de matéria seca.
</p>
<p>
    - Vaca com 450 kg de peso vivo.
</p>

<form [formGroup]="form" class="m-3">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cultura">Cultura forrageira</label>
            <select id="cultura" class="form-control" formControlName="cultura">
                <option *ngFor='let cult of culturas' [ngValue]="cult">{{cult.cultura}}</option>
            </select>
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="form-group col-md-12 mt-3">
            <div class="row align-items-start">
                <div class="form-group col-md-6">
                    <label for="cultura">Época de trato dos animais</label>
                    <select id="cultura" class="form-control" formControlName="eptrato">
                        <option *ngFor='let ep of epocaTrato' [ngValue]="ep">{{ep.descricao}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="h5 text-center">
        Informações do rebanho
    </div>
    <template-rebanho [rebanho]="rebanho" (updated)="calcular($event)"></template-rebanho>
    <template-table-rebanho [inputRebanho]="rebanho" (remove)=remove($event)></template-table-rebanho>
</form>
<div class="row mt-2 mb-5">
    <div class="col col-2">
        <button class="btn btn-ok" [disabled]="!dadosok()" id="calcular" (click)='calcular($event)' >Calcular</button>
    </div>
</div>
