<h1>
    Simulação de ajuste de salário
</h1>
<form [formGroup]="form">
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="nivel">Nível do cargo</label>
                <select class="custom-select" id="nivel" formControlName="nivel">
                    <option *ngFor="let n of niveis$ | async" value="{{n}}">{{n}}</option>
                </select>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="form-group">
                <label for="datacontrato">Data Contrato com a EMATER/MG</label>
                <input type="date" class="form-control" id="datacontrato" aria-describedby="datacontrato"
                    placeholder="Enter email" formControlName="datacontrato">
                <small id="datacontrato" class="form-text text-muted">Informe a data em que você foi contratado.</small>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Adicional Graduação</label>
                <input type="date" class="form-control" id="datagraduacao" aria-describedby="datagraduacao"
                    placeholder="Enter email" formControlName="datagraduacao">
                <small id="datagraduacao" class="form-text text-muted">Informe a data de concessão do adicional de
                    Graduação
                    (10%).</small>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Adicional Pós Graduação</label>
                <input type="date" class="form-control" id="datapos1" aria-describedby="datapos1"
                    placeholder="Enter email" formControlName="datapos1">
                <small id="datapos1" class="form-text text-muted">Informe a data de concessão do adicional de pós
                    Graduação(10%).</small>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Adicional 2ª Pós Graduação</label>
                <input type="date" class="form-control" id="datapos2" aria-describedby="datapos2"
                    placeholder="Enter email" formControlName="datapos2">
                <small id="datapos2" class="form-text text-muted">Informe a data de concessão do adicional de pós
                    Graduação(10%).</small>
            </div>
        </div>
        <div class="col col-sm-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Adicional Mestrado</label>
                <input type="date" class="form-control" id="datamestrado" aria-describedby="datamestrado"
                    placeholder="Enter email" formControlName="datamestrado">
                <small id="datamestrado" class="form-text text-muted">Informe a data de concessão do adicional de
                    mestrado(17%).</small>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="simular()">Simular</button>
</form>
    <h3>
        <p>Não são contabilizados descontos ou correções monetárias.</p>
        <p>Nesta simulação consideramos a tabela disponível em: <a href="https://www.sinter-mg.org.br/wp-content/uploads/2023/01/Tabela-salarial-de-janeiro-de-2022.pdf">TABELA SALARIAL / 01/2022</a></p>
		<p>As simulações são possíveis para contratos anteriores a 2014.</p>
    </h3>
<ng-template #notActions>
  
</ng-template>
<div *ngIf="pagamentos$ | async as pags">
    <h1>
        Valor a restituir: {{total$ | currency : 'BRL'}}
    </h1>
<table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col">Mês de referência</th>
            <th scope="col">Salário base atual</th>
            <th scope="col">Salário conf. projeção</th>
            <th scope="col">Dif. anuênio</th>
            <th scope="col">Dif. Graduação</th>
            <th scope="col">Dif. pos 01</th>
            <th scope="col">Dif. pos 2</th>
            <th scope="col">Dif. mestrado</th>
            <th scope="col">Diferença total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pg of pags">
            <th scope="row">{{pg.MES_REFERENCIA}}</th>
            <td>{{pg.SALARIO_ATUAL}}</td>
            <td>{{pg.SALARIO_TABELA}}</td>
            <td>{{pg.DIFF_ANUENIO}}</td>
            <td>{{pg.DIFF_GRADUACAO}}</td>
            <td>{{pg.DIFF_POS_GRADUACAO_1}}</td>
            <td>{{pg.DIFF_POS_GRADUACAO_2}}</td>
            <td>{{pg.DIFF_MESTRADO}}</td>
            <td>{{pg.DIFERECA}}</td>
        </tr>
    </tbody>
</table>
 
</div>

