<p>paniel-simulacao works!</p>

<form [formGroup]="form">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Nível do cargo</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" formControlName="nivel">
            <option *ngFor="let n of niveis$ | async" value="{{n}}">{{n}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Data Contrato com a EMATER/MG</label>
        <input type="date" class="form-control" id="datacontrato" aria-describedby="datacontrato"
            placeholder="Enter email" formControlName="datacontrato">
        <small id="datacontrato" class="form-text text-muted">Informe a data em que você foi contratado.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Adicional Graduação</label>
        <input type="date" class="form-control" id="datagraduacao" aria-describedby="datagraduacao"
            placeholder="Enter email" formControlName="datagraduacao">
        <small id="datagraduacao" class="form-text text-muted">Informe a data, caso tenha o adicional de Graduação
            (10%).</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Adicional Pós Graduação</label>
        <input type="date" class="form-control" id="datapos1" aria-describedby="datapos1" placeholder="Enter email"
            formControlName="datapos1">
        <small id="datapos1" class="form-text text-muted">Informe a data, caso tenha o adicional de pós
            Graduação(10%).</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Adicional 2º Pós Graduação</label>
        <input type="date" class="form-control" id="datapos2" aria-describedby="datapos2" placeholder="Enter email"
            formControlName="datapos2">
        <small id="datapos2" class="form-text text-muted">Informe a data, caso tenha um segundo adicional de pós
            Graduação(10%).</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Adicional 2º Pós Graduação</label>
        <input type="date" class="form-control" id="datamestrado" aria-describedby="datamestrado"
            placeholder="Enter email" formControlName="datamestrado">
        <small id="datamestrado" class="form-text text-muted">Informe a data, caso tenha um adicional de
            mestrado(17%).</small>
    </div>

    <button type="button" class="btn btn-primary" (click)="simular()">Simular</button>
</form>

<div *ngIf="showData(); else notActions">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">MES_REFERENCIA</th>
                <th scope="col">SALARIO_ATUAL</th>
                <th scope="col">SALARIO_TABELA</th>
                <th scope="col">DIFF_ANUENIO</th>
                <th scope="col">DIFF_GRADUACAO</th>
                <th scope="col">DIFF_POS_GRADUACAO_1</th>
                <th scope="col">DIFF_POS_GRADUACAO_2</th>
                <th scope="col">DIFF_MESTRADO</th>
                <th scope="col">DIFERECA</th>
            </tr>
        </thead>
        <tbody *ngIf="pagamentos$ | async as pags">
            <tr *ngFor="let pg of pags">
                <th scope="row">{{pg.MES_REFERENCIA}}</th>
                <td>{{pg.SALARIO_ATUAL}}</td>
                <td>{{pg.SALARIO_TABELA}}</td>
                <td>{{pg.DIFF_ANUENIO}}</td>
                <td>{{pg.DIFF_GRADUACAO}}</td>
                <td>{{pg.DIFF_POS_GRADUACAO_1}}</td>
                <td>{{pg.DIFF_POS_GRADUACAO_2}}</td>
                <td>{{pg.DIFF_MESTRADO}}</td>
                <td>{{pg.DIFERECA}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #notActions>
    <article class="danger-text card">
        Não houve resultados para simulações!
    </article>
</ng-template>