<header>
    <p>Unidade Familiar atendida e acompanhada pela EMATER/MG de Tarumirim</p>
</header>
<section>
    <aside>
        <article>
            <p>Produtor acompanhado: {{info.beneficiario}}</p>
            <p>Comunidade rural: {{info.propriedade}}</p>
                <figure>
                    <img src="{{info.img}}" width="30%">
                    <figcaption>Produtos cadastrados: Abóbora, milho, mandioca, feijão, alface, couve, laranja, banana</figcaption>
                </figure>
        </article>
    </aside>
</section>
<section>
    <p>Últimas visitas realizadas pela EMATER/MG</p>
    <ul *ngFor="let v of info.visitas">
        <li>{{v.data}}</li>
    </ul>
</section>

