<header>
  <img src="../../../../../assets/images/LOGO_EMATER.jpg">
  <p>Unidade Familiar atendida e acompanhada pela EMATER/MG de Tarumirim</p>
</header>
<div>
  <p>
    <b>Produtor:</b> {{info.beneficiario}}
  </p>
  <p>
    <b>Propriedade:</b> {{info.propriedade}}
  </p>
</div>
<div *ngFor="let img of info.imgs">
  
  <div class="card">
    <div class="card-title">{{img.title}}</div>
    <img class="card-img-top" src="{{img.base64}}" alt="">
    <div class="card-body">
      <p class="card-text">{{img.legend}}</p>
    </div>
  </div>
</div>

<p>Últimas visitas de acompanhamento realizadas na propriedade</p>

<ul *ngFor="let vs of info.visitas">
  <li>{{vs.data}} - {{vs.assunto}}</li>
</ul>