.container-sm{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo{
    background-image: url("../../../../../assets/images/LOGO_EMATER.jpg") ;
    height: 10%;
    width: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
}
header{
    padding-top: 5px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    color: darkolivegreen;
}
.contato{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-bottom: 15px;
}
.contato > aside{
    max-width: 20%;
}
.contato > aside > img{
    max-width: 100%;
}
.contato > section{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.contato > section > div{
    align-self: flex-end;
}
.send-zap {
    width: 40%;
}
.notify-horario{
    width: 60%;
}
.missao_visao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.missao_visao > article {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5%;
    margin: 3px;
    width: 60%;
}
.missao_visao > article > p{
    align-self: center; 
    text-align: justify;
    
}
footer{
    background-color: darkolivegreen;
    margin-top: 10vh;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    color: aliceblue;

}