<div class="container">

    <header>
        <p>Este é o contato do funcionário da EMATER-MG</p>
    </header>
    <section>

        <img src="{{info.img}}" alt="">
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nome</th>
                <td>Matrícula</td>
                <td>Contato</td>

              </tr>
              <tr>
                <th scope="row">{{info.nome}}</th>
                <td>{{info.matricula}}</td>
                <td>{{info.contato}}</td>

              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">email</th>
              </tr>
              <tr>
                <th scope="row">{{info.email}}
                </th>
              </tr>
            </tbody>
          </table>


        <a aria-label="Chat on WhatsApp" href="{{expressaozap}}"><img alt="Chat on WhatsApp" 
          src="../../../../../assets/images/wame.png" />
        </a>

    </section>

    <footer>

    </footer>
</div>