<div class="container">
    <div class="row">
        <p class="p-3 mt-3 form-tittle">{{title}}</p>
        <div>
            <strong>
                Encaminhar tarefa: 
            </strong>
            {{task}}
        </div>

        <div>
            <strong>
                Beneficiário: 
            </strong>
            {{beneficiario}}
        </div>
        
    </div>
    <div class="row mb-3">
        <div class="col col-md-5 mt-3">
            <user-select (onSelected)="onSelectUserDesigned($event)"></user-select>
        </div>
    </div>
    <div class="row">
        <p>{{confirmMessage}}</p>
        <form [formGroup]="form" class="m-3">
            <div class="form-group col-md-12">
                <label for="objetivo">Registre a sua observação sobre esta tarefa</label>
                <textarea type="text" rows="8" class="form-control" formControlName="comentario" name="comentario"
                    id="comentario"></textarea>
            </div>
        </form>
    </div>
    <div class="row mb-3 d-flex justify-content-end">
        <div class="col">
            <button type="button" [disabled]="!formValid()" class="btn btn-primary"
                (click)="onConfirm()">{{confirmText}}</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="onClose()">{{cancelTxt}}</button>
        </div>
    </div>
</div>