<form [formGroup]="form">
    <p class="mt-2 form-tittle">Consultar registros de produtor</p>
    <div class="row">

        <div class="form-group col col-md-4">
            <label for="search">Localizar por nome</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" (click)="onSearch()" id="basic-addon">
                        <span class="material-icons" tooltip="Localizar registro do produtor">
                            manage_search
                        </span>
                    </span>
                </div>
                <input type="text" class="form-control" (keyup.enter)="onSearch()" formControlName="search" name="search"
                    id="search" required>
            </div>
        </div>

    </div>
 
</form>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Propriedade</th>
      </tr>
    </thead>
    <tbody *ngIf="produtores$ | async as produtores; else noprodutor">
      <tr *ngFor="let p of produtores">
        <td><i class="bi bi-pencil-square" [routerLink]="['../../treatmentsbyprodutor/', p.id]"></i></td>
        <td>{{p.name}}</td>
        <td>{{p.cpf}}</td>
        <td>{{p.district}}</td>
      </tr>
    </tbody>
  </table>
<ares-loading *ngIf="_loading" class="spinner"></ares-loading>
<ng-template #noprodutor>
    <tr>
        <td class="danger-text">Nenhum registro encontrado para este nome!</td>
    </tr>

</ng-template>
