<div class="container d-flex justify-content-center">
    <form [formGroup]="form">
        <p class="mt-2 form-tittle">{{SERVICE}}</p>
        <div class="row">
            <div class="form-group col col-md-2">
                <label for="cpf">CPF</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" (click)="localizarRegistroMda()" id="basic-addon">
                            <span class="material-icons" tooltip="Localizar registro deste CPF">
                                manage_search
                            </span>
                        </span>
                    </div>
                    <input type="text" (change)="onFindInAres()" class="form-control" mask="000.000.000-00" formControlName="cpf" name="cpf"
                        id="cpf" required>
                </div>
                <error-message
                    *ngIf="form.controls.cpf.invalid && (form.controls.cpf.dirty || form.controls.cpf.touched)"
                    errorMessage="É necessário informar o número do CPF">
                </error-message>
            </div>
            <div class="form-group col col-md-8">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" name="name" id="name" required>
                <error-message
                    *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
                    errorMessage="É necessário informar o nome com 10 a 150 caracteres"></error-message>
            </div>
        </div>
        <div class="row">
            <div class="form-group col col-md-4">
                <label for="nickname">Apelido</label>
                <input type="text" class="form-control" formControlName="nickname" name="nickname" id="nickname">
            </div>

            <div class="form-group col-md-2">
                <label for="birth_date">Data de Nascimento</label>
                <input type="date" class="form-control" formControlName="birth_date" name="birth_date" id="birth_date">
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="address">Endereço</label>
                <input type="text" class="form-control" formControlName="address" name="address" id="address">
            </div>
            <div class="form-group col-md-1">
                <label for="num">Número</label>
                <input type="text" mask='00' class="form-control" formControlName="num" name="num" id="num">
            </div>
            <div class="form-group col-md-2">
                <label for="district">Bairro</label>
                <input type="text" class="form-control" formControlName="district" name="district" id="district">
            </div>
            <div class="form-group col-md-2">
                <label for="complement">Complemento</label>
                <input type="text" class="form-control" formControlName="complement" name="complement" id="complement">
            </div>
            <div class="form-group col-md-2">
                <label for="cep">CEP</label>
                <input type="text" mask="00.000-000" class="form-control" formControlName="cep" name="cep" id="cep">
            </div>
            <div class="form-group col-md-2">
                <label for="phone">Telefone</label>
                <input type="text" mask="(00) 0 0000-0000" class="form-control" formControlName="phone" name="phone" id="phone">
            </div>

        </div>
        <div class="row">
            <div class="form-group col col-md-3">
                <label for="city">Cidade</label>
                <city-select id="city" [city]="cityName" [search]="search" (onSelected)="onSelectCity($event)"></city-select>
            </div>
            <div class="form-group col col-md-3">
                <label for="shooling">Escolaridade</label>
                <schooling-select (onSelected)="onSelectSchooling($event)"></schooling-select>
            </div>
            <div class="col col-md-2 m-2 p-3">
                <button class="btn btn-ok" [disabled]="!formOk()" (click)="registrar()">+
                </button>
            </div>
        </div>

    </form>
</div>
<ares-loading *ngIf="_loading" class="spinner"></ares-loading>