<form [formGroup]="form">
    <div class="row">
        <div class="form-group col-md-10">
            <label for="local">Local</label>
            <input type="text" class="form-control" formControlName="local" name="local" id="local" required>
            <error-message
                *ngIf="form.controls.local.invalid && (form.controls.local.dirty || form.controls.local.touched)"
                errorMessage="É necessário informar o local do atendimento com 05 a 150 caracteres"></error-message>
        </div>
        <div class="form-group col-md-2">
            <label for="data">Data</label>
            <input type="date" class="form-control" formControlName="data" name="data" id="data" required>
            <error-message
                *ngIf="form.controls.data.invalid && (form.controls.data.dirty || form.controls.data.touched)"
                errorMessage="É necessário informar a data do atendimento"></error-message>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label for="objetivo">Situação atual</label>
        <textarea type="text" rows="4" class="form-control" formControlName="situacao" name="situacao"
            id="situacao"></textarea>
    </div>
    <div class="form-group col-md-12">
        <label for="objetivo">Orientações</label>
        <textarea type="text" rows="4" class="form-control" formControlName="orientacao" name="orientacao"
            id="orientacao"></textarea>
    </div>
    <div class="form-group col-md-12">
        <label for="objetivo">Recomendações</label>
        <textarea type="text" rows="4" class="form-control" formControlName="recomendacao" name="recomendacao"
            id="recomendacao"></textarea>
    </div>
</form>
<details>
    <summary>Registro de beneficiários
    </summary>
    <customer-cadastrar (onSelected)="onSelectCustomer($event)"></customer-cadastrar>
</details>
<details>
    <summary>Registro de tasks</summary>
    <form [formGroup]="formAction">
        <div class="row">
            <div class="col col-md-6 mt-3">
                <select-action (onSelected)="onSelectAction($event)"></select-action>
            </div>
            <div class="form-group col-md-12">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" formControlName="descricao" name="descricao" id="descricao"
                    required>
            </div>
            <div class="form-group col-md-1">
                <label for="qtd">Quantidade</label>
                <input type="text" mask="000" class="form-control" formControlName="qtd" name="qtd" id="qtd" required>

            </div>
            <div class="form-group col-md-1">
                <label for="valor">Valor</label>
                <input type="text" mask="000" class="form-control" formControlName="valor" name="valor" id="valor"
                    required>

            </div>
            <div class="col col-md-5 mt-3">
                <user-select (onSelected)="onSelectUserDesigned($event)"></user-select>
            </div>
            <div class="col col-md-5 mt-3">
                <button class="btn-ok" (click)="onIncludeAction($event)">+</button>
            </div>


        </div>
    </form>
</details>
<details open>
    <summary>
        Lista de tasks
    </summary>
    <task-list [tasks]="tasks" (deleted)="onDeleteTask($event)"></task-list>
</details>
<details open>
    <summary>
        Lista de beneficiários
    </summary>
    <customer-list [customers]="customers" (deleted)="onDeleteCustomer($event)"></customer-list>
</details>
<div class="row">
    <div class="col">
        <button class="btn btn-ok" [disabled]="!formOk()" (click)="onRegisterTreatment()">Registrar atendimento</button>
    </div>
    <div class="col">
        <button class="btn btn-ok ml-5" (click)="viewRater()">Imprimir</button>
    </div>
    <div class="col">
        <input type="file" class="btn btn-ok ml-5" name="rater" (change)="postRater($event)">
    </div>
</div>
<ares-loading *ngIf="_loading" class="spinner"></ares-loading>
<div class="rater" id="printable">
    <div class="title">
        <div>
            <strong>
                Relatório de atendimento
            </strong>
        </div>
        <div>{{empresa}}</div>
        <div>{{departamento}}</div>
        <div class="dados-emp">
            <div class="contato">Contato: {{contato}}</div>
            <div class="endereco">Endereço: {{endereco}}</div>
        </div>
    </div>
    <div class="titulares">
        <div class="titular-head">
            <strong>Beneficiários</strong>
        </div>
        <div class="titular" *ngFor="let c of customers">
            <div class="nome">
                <strong>Nome: </strong>
                {{c.name}}
            </div>
            <div class="cpf">
                <strong>
                    CPF:
                </strong>
                {{c.cpf}}
            </div>
        </div>
    </div>
    <div class="ater">
        <div class="ater-head">
            <div class="local">
                <strong>
                    Local:
                </strong>
                {{form.controls.local.value}}
            </div>
            <div class="data">
                <strong>Data: </strong>
                {{form.controls.data.value | date: 'dd/MM/yyyy'}}
            </div>
        </div>
        <div class="texto">
            <div>
                <p>
                    <strong>
                        Situação atual:
                    </strong>
                </p>
                <p class="situacao-atual">{{form.controls.situacao.value}}</p>
                <p>
                    <strong>
                        Orientações:
                    </strong>
                </p>
                <p class="orientacoes">{{form.controls.orientacao.value}}</p>
                <p>
                    <strong>
                        Recomendações:
                    </strong>
                </p>
                <p class="recomendacoes">{{form.controls.recomendacao.value}}</p>
            </div>
        </div>
    </div>
    <div class="ater-footer">
        <div class="emissor">
            Funcionário Responsável:
            <div class="funcionario">{{funcionario}}</div>
            <div class="departamento">{{departamento}}</div>
            <div class="empresa">{{empresa}}</div>
        </div>
        <div class="assinaturas">
            <strong>
                <div>Assinaturas</div>
                <div>Declaro que sou beneficiário dos serviços prestados e recebi as orientações conforme consta neste
                    documento.</div>
            </strong>
            <div class="titular" *ngFor="let c of customers">
                <div class="nome">
                    {{c.name}} / CPF: {{c.cpf}}
                </div>
            </div>
        </div>

    </div>
</div>