<form [formGroup]="form">
    <div class="row">
        <div class="form-group ml-2 col-md-8">
            <label for="local">Local</label>
            <div class="row">
                <input type="text" class="form-control col" formControlName="local" name="local" id="local" required>
                <button class="col-1 ml-2 btn btn-primary" (click)="onGeo($event)">
                    <i class="bi bi-globe2"></i>
                </button>
                <error-message
                    *ngIf="form.controls.local.invalid && (form.controls.local.dirty || form.controls.local.touched)"
                    errorMessage="É necessário informar o local do atendimento com 05 a 150 caracteres"></error-message>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="data">Data</label>
            <input type="date" class="form-control" formControlName="data" name="data" id="data" required>
            <error-message
            *ngIf="form.controls.data.invalid && (form.controls.data.dirty || form.controls.data.touched)"
            errorMessage="É necessário informar a data do atendimento"></error-message>
        </div>
        <div class="coodrs" *ngIf="marker">
            Latitude: {{marker.getPosition().lat()}}
            Longitude: {{marker.getPosition().lng()}}
        </div>
    </div>
    <details open>
        <summary>Registro de beneficiários
        </summary>
        <customer-cadastrar (onSelected)="onSelectCustomer($event)"></customer-cadastrar>
    </details>
    <details open>
        <summary>
            Lista de beneficiários
        </summary>
        <customer-list [customers]="customers" (deleted)="onDeleteCustomer($event)"></customer-list>
    </details>
    <details open>
        <summary>Registro de tarefas</summary>
        <form [formGroup]="formAction">
            <div class="row">
                <div class="col col-md-6 mt-3">
                    <select-action (onSelected)="onSelectAction($event)"></select-action>
                </div>
                <div class="form-group col-md-12">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" formControlName="description" name="description"
                        id="description" required>
                </div>
                <div class="form-group col-md-1">
                    <label for="qtd">Quantidade</label>
                    <input type="text" mask="999" class="form-control" formControlName="qtd" name="qtd" id="qtd"
                        required>

                </div>
                <div class="form-group col-md-1">
                    <label for="valor">Valor</label>
                    <input type="text" mask="999" class="form-control" formControlName="valor" name="valor" id="valor"
                        required>

                </div>
                <div class="col col-md-5 mt-3">
                    <user-select (onSelected)="onSelectUserDesigned($event)"></user-select>
                </div>
                <div class="col col-md-5 mt-3">
                    <button class="btn btn-primary" [disabled]="!taskOk()" (click)="onIncludeAction($event)">+</button>
                </div>


            </div>

        </form>
    </details>
    <details open>
        <summary>
            Lista de tarefas
        </summary>
        <task-list [tasks]="tasks" (deleted)="onDeleteTask($event)"></task-list>
    </details>
    <details open>
        <summary>Relatório
        </summary>
        <div class="form-group col-md-12">
            <label for="objetivo">Situação atual</label>
            <textarea type="text" rows="10" class="form-control" formControlName="situacao" name="situacao"
                id="situacao"></textarea>
        </div>
        <div class="form-group col-md-12">
            <label for="objetivo">Orientações</label>
            <textarea type="text" rows="10" class="form-control" formControlName="orientacao" name="orientacao"
                id="orientacao"></textarea>
        </div>
        <div class="form-group col-md-12">
            <label for="objetivo">Recomendações</label>
            <textarea type="text" rows="10" class="form-control" formControlName="recomendacao" name="recomendacao"
                id="recomendacao"></textarea>
        </div>
    </details>

<div class="row">
    <div class="col">
        <div class="row">
            <h2>
                Levantamento de dados
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <img class="btn-image" src="https://blog4.mfrural.com.br/wp-content/uploads/2021/01/post_thumbnail-24cbb213153bac61cddc93f7a3832c3d-1090x660.jpeg" alt="Registrar produção de leite" (click)="onRegistraProdLeite()">
            </div>
            <div class="col">
                <img class="btn-image" src="https://www.cdnconecta.com.br/ftp/tenants/delpaolo/imgs/produtoimagem/2021118202410321538xmgi0.png" alt="Registrar agroindústria" (click)="onRegistraAgroindustria()">
            </div>
            <div class="col mr-3">
                <img class="btn-image" src="https://concursosnobrasil.com/wp-content/uploads/2022/06/credito-rural.jpg" (click)="onRegistraCredRural()">
            </div>
        </div>
    </div>
</div>

    <div class="row mt-3">
        <div class="col-2">
            <button class="btn btn-primary ml-5" [disabled]="!formOk()" (click)="viewRater()">Imprimir</button>
            <button class="btn btn-primary ml-5"  (click)="viewRaterPnae()">Imprimir PNAE</button>
        </div>
        <div class="col mb-3 mt-3">
            <input type="file" accept="image/png, image/gif, image/jpeg, image/jpg, application/pdf"
                formControlName="rater" name="rater" (change)="postRater($event)">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary" [disabled]="!formOk()" (click)="onRegisterTreatment()">Registrar
                atendimento</button>
        </div>
    </div>
</form>
<ares-loading *ngIf="_loading" class="spinner"></ares-loading>

<!--Impressão de Relatórios de ATER-->
<div class="rater" id="printable">
    <div class="title">
        <div>
            <strong>
                Relatório de atendimento
            </strong>
        </div>
        <div>{{empresa}}</div>
        <div>{{departamento}}</div>
        <div class="dados-emp">
            <div class="contato">Contato: {{contato}}</div>
            <div class="endereco">Endereço: {{endereco}}</div>
        </div>
    </div>
    <div class="titulares">
        <div class="titular-head">
            <strong>Beneficiários</strong>
        </div>
        <div class="titular" *ngFor="let c of customers">
            <div class="nome">
                <strong>Nome: </strong>
                {{c.name}}
            </div>
            <div class="cpf">
                <strong>
                    CPF:
                </strong>
                {{c.cpf}}
            </div>
        </div>
    </div>
    <div class="ater">
        <div class="ater-head">
            <div class="local">
                <strong>
                    Local:
                </strong>
                {{form.controls.local.value}}
            </div>
            <div class="data">
                <strong>Data: </strong>
                {{form.controls.data.value | date: 'dd/MM/yyyy'}}
            </div>
        </div>
        <div class="texto">
            <div>
                <p>
                    <strong>
                        Situação atual:
                    </strong>
                </p>
                <p class="situacao-atual">{{form.controls.situacao.value}}</p>
                <p>
                    <strong>
                        Orientações:
                    </strong>
                </p>
                <p class="orientacoes">{{form.controls.orientacao.value}}</p>
                <p>
                    <strong>
                        Recomendações:
                    </strong>
                </p>
                <p class="recomendacoes">{{form.controls.recomendacao.value}}</p>
            </div>
        </div>
    </div>
    <div class="ater-footer">
        <div class="emissor">
            Funcionário Responsável:
            <div class="funcionario">{{funcionario}}</div>
            <div class="departamento">{{departamento}}</div>
            <div class="empresa">{{empresa}}</div>
        </div>
        <div class="assinaturas">
            <strong>
                <div>Assinaturas</div>
                <div>Declaro que sou beneficiário dos serviços prestados e recebi as orientações conforme consta neste
                    documento.</div>
            </strong>
            <div class="titular" *ngFor="let c of customers">
                <div class="nome">
                    {{c.name}} / CPF: {{c.cpf}}
                </div>
            </div>
        </div>

    </div>
</div>

<!--Relatório de ATER PNAE-->
<div class="pnae-rater" id="printable">
    <div class="pnae-title">
        <div>
            <strong>
                Relatório de atendimento
            </strong>
        </div>
        <div>{{empresa}}</div>
        <div>{{departamento}}</div>
        <div class="pnae-dados-emp">
            <div class="pnae-contato">Contato: {{contato}}</div>
            <div class="pnae-endereco">Endereço: {{endereco}}</div>
        </div>
    </div>
    <div class="pnae-titulares">
        <div class="pnae-titular-head">
            <strong>Beneficiários</strong>
        </div>
        <div class="pnae-titular" *ngFor="let c of customers">
            <div class="pnae-nome">
                <strong>Nome: </strong>
                {{c.name}}
            </div>
            <div class="pnae-cpf">
                <strong>
                    CPF:
                </strong>
                {{c.cpf}}
            </div>
        </div>
    </div>
    <div class="pnae-ater">
        <div class="pnae-ater-head">
            <div class="pnae-local">
                <strong>
                    Local:
                </strong>
                {{form.controls.local.value}}
            </div>
            <div class="pnae-data">
                <strong>Data: </strong>
                {{form.controls.data.value | date: 'dd/MM/yyyy'}}
            </div>
        </div>
        <div class="pnae-texto">
            <div>
                <p>
                    <strong>
                        Situação atual:
                    </strong>
                </p>
                <p class="pnae-situacao-atual">{{form.controls.situacao.value}}</p>
                <p>
                    <strong>
                        Orientações:
                    </strong>
                </p>
                <p class="pnae-orientacoes">{{form.controls.orientacao.value}}</p>
                <p>
                    <strong>
                        Recomendações:
                    </strong>
                </p>
                <p class="pnae-recomendacoes">{{form.controls.recomendacao.value}}</p>
            </div>
        </div>
    </div>
    <div class="pnae-ater-footer">
        <div class="pnae-emissor">
            Funcionário Responsável:
            <div class="pnae-funcionario">{{funcionario}}</div>
            <div class="pnae-departamento">{{departamento}}</div>
            <div class="pnae-empresa">{{empresa}}</div>
        </div>
        <div class="pnae-assinaturas">
            <strong>
                <div>Assinaturas</div>
                <div>Declaro que sou beneficiário dos serviços prestados e recebi as orientações conforme consta neste
                    documento.</div>
            </strong>
            <div class="pnae-titular" *ngFor="let c of customers">
                <div class="pnae-nome">
                    {{c.name}} / CPF: {{c.cpf}}
                </div>
            </div>
        </div>

    </div>
</div>
