<div class="container">
    <div class="row mb-5 mt-3 d-flex justify-content-center">

        <div class="card col-6">
            <img class="card-img-top"
                src="https://freepikpsd.com/file/2019/10/icone-cadastro-usuario-png-4-1-Transparent-Images.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Contrato</h5>
                <p class="card-text">Aqui você cadastra contratos com enpresas que poderão acessar a plataforma.</p>
                <a href="users/private/class10/create-contract" class="btn btn-primary">Cadastrar</a>
            </div>
        </div>

    </div>
</div>