<div [formGroup]="form" class="form-login">
    <div class="box">
        <label for="login" class="form-label">Login</label>
        <input type="text" formControlName="login" class="form-control" id="login"
            placeholder="Informe a matrícula do usuário">
    </div>
    <div class="box">
        <label for="password" class="form-label">Senha</label>
        <input type="password" formControlName="password" class="form-control" id="password"
            placeholder="Informe a senha para acesso">
    </div>
    <div class="">
        <div class="btn btn-primary" (click)="autenticar()">login</div>
    </div>
</div>
<ares-loading *ngIf="_loading" class="spinner"></ares-loading>