.form-login{
    display: flex;
    flex-direction: row;
    color: var(--mid-color);
    align-items: flex-end;
    padding: 5px;
}

.form-login > .box{
    margin-right: 5px;
    margin-left: 5px;
    width: 150px;
}