
.form-login{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5px;
    color:aliceblue;
}

.form-login > .box{
    margin-right: 5px;
    margin-left: 5px;
    width: 150px;
}
