<form [formGroup]="formprop">

    <div class="container">
        <div class="row">
            <p class="p-3 mt-3 form-tittle">{{title}}</p>
        </div>
        <div class="row">
            <div class="col-4 col-md-6">
                <label class="form-label" for="banco">Banco Financiador</label>
                <select id="banco" class="form-control" formControlName="banco" style="width: 250px;"
                    tooltip="Selecione o banco financiador da proposta">
                    <option *ngFor='let i of BANCO_FINANCIADOR_DATA' value="{{i.representacaobd}}">{{i.descricao}}
                    </option>
                </select>
            </div>
            <div class="col-4 col-md-4">
                <label class="form-label" for="linha">Linha de crédito</label>
                <select id="linha" class="form-control" formControlName="linha" style="width: 250px;"
                    tooltip="Selecione a linha de crédito aplicada à proposta">
                    <option *ngFor='let i of LINHA_CREDITO_DATA' value="{{i.representacaobd}}">{{i.descricao}}
                    </option>
                </select>
            </div>
            <div class="col-4 col-md-2">
                <label class="form-label" for="txjuros">Taxa de juros(%a.a.):</label>
                <input type="text" class="form-control" name="txjuros" id="txjuros" formControlName="txjurosaa">
            </div>

            <div class="col-4 col-md-6">
                <label class="form-label" for="anoprimpgm">Mês/Ano primeira parcela:</label>
                <input type="month" name="anoprimpgm" id="anoprimpgm" class="form-control" formControlName="anoprimpgm"
                    style="width: 250px;">
            </div>
            <div class="col-4 col-md-6">
                <label class="form-label" for="anoultpgm">Mês/Ano Ultima parcela:</label>
                <input type="month" name="anoultpgm" id="anoultpgm" class="form-control" formControlName="anoultpgm"
                    style="width: 250px;">
            </div>


        </div>
        <form [formGroup]="formitem" class="d-flex flex-column">
            <div class="d-flex justify-content-between">
                <div class="col-4 col-md-6">
                    <label class="form-label" for="finalidade">Finalidade</label>
                    <select id="finalidade" class="form-control" style="width: 250px;" formControlName="finalidade"
                        tooltip="Selecione a finalidade de financiamento" (change)="onSelecItemFin($event)">
                        <option *ngFor='let i of ITENS_FINANCIAVEIS_DATA' [value]='i | json'>{{i.descricao}}
                            ({{i.unidade}})
                        </option>
                    </select>
                </div>
                <div class="col-4 col-md-2">
                    <label class="form-label" for="qtditemfinanc">Quantidade:</label>
                    <input type="text" class="form-control" name="qtditemfinanc" id="qtditemfinanc"
                        formControlName="qtditemfinanc">
                </div>
                <div class="col-4 col-md-2">
                    <label class="form-label" for="qtditemfinanc">Valor unitário (R$):</label>
                    <input type="text" class="form-control" name="valorunit" id="valorunit" formControlName="valorunit">
                </div>

            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary" (click)="onAddNewItem()">Incluir item</button>
            </div>

            <div class="d-flex justify-content-between mt-3">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">Vl. Unit</th>
                            <th scope="col">Vl. item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of itensFinanciados">
                            <th scope="col-5">{{i.descricao}}</th>
                            <th scope="col-2">{{i.qtditemfinanc}} {{i.unidade}}</th>
                            <th scope="col-2">{{i.valorunit}}</th>
                            <th scope="col-2">{{multiplica(i.qtditemfinanc, i.valorunit)}}</th>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="3">Total da proposta (R$):</th>
                            <td>{{total}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
        <div class="d-flex justify-content-end m-3">
            <button type="button" class="btn btn-secondary mr-5" (click)="onClose()">Cancelar</button>
            <button type="button" class="btn btn-warning mr-5" (click)="onRemove()">Refazer proposta</button>
            <button type="button" class="btn btn-primary" (click)="onConfirm()">Registrar</button>
        </div>
    </div>
</form>