.row:not(:first-child){
    margin: 1rem;
    padding: 5px;
    border: 0.1rem solid rgb(79, 79, 80);
    
}
h3{
    text-align: center;
    color: rgb(65, 66, 66);
    margin-top: 2rem;
    padding-top: 2rem;
}

.list-itens{
    display: flex;
    flex-direction: row ;/*| row-reverse | column | column-reverse;*/
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;

}

@media(min-width: 576px) {

    
}
@media(min-width: 768px) {

    
}
@media(min-width: 992px) {

    
}
@media(min-width: 1200px) {

    
}