span{
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 10px;
    background-color: var(--most-color);
}
span:hover{
    background-color: var(--mid-color);
}
theme-dark-orange.bs-datepicker-head {
    background-color: #f58025; }