<form [formGroup]="form">
    <input formControlName="search" [typeahead]="cities$" typeaheadOptionField="city" [typeaheadAsync]="true"
        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" [typeaheadOrderBy]="sortConfig"
        [typeaheadIsFirstItemActive]="true" [typeaheadSelectFirstItem]="true"
        (typeaheadOnBlur)="typeaheadOnBlur($event)" (typeaheadNoResults)="typeaheadNoResults($event)"
        (typeaheadOnSelect)="onSelect($event)" placeholder={{MESSAGE_PLACE_HOLDER}} class="form-control">
</form>
