<div class="container">
    <nav>
        <app-login></app-login>
    </nav>
    <main>
        <header>Ares sua plataforma para adminstração inteligente de projetos</header>
        <article>Tenha uma visão 360º da sua empresa e acompanhe os resultados!</article>
        <section>É de suma importância conhecer os projetos desenvolvidos por sua empresa e poder acompanhar a execução de cada um de qualquer lugar onde você esteja. Isso com um simples clique ou toque no smartphone.</section>
    </main>

    <footer>Desenvolvido por <strong>João Paulo</strong></footer>
</div>