<div class="container">
    <nav>
        <app-login></app-login>
    </nav>
    <main>
        <header>Ares sua plataforma para adminstração inteligente de projetos</header>
        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum aliquam sed recusandae officiis
            laudantium, impedit optio ratione labore sequi cupiditate doloremque laborum doloribus inventore exercitationem
            magnam nobis minima molestiae magni.</article>
        <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt inventore delectus non quam culpa illum
            modi assumenda voluptatem voluptas perferendis animi, eveniet id eligendi explicabo. Corrupti enim aliquid
            praesentium delectus.</section>
    </main>

    <footer>Desenvolvido por <strong>João Paulo</strong></footer>
</div>