<div class="page">
    <div class="form-login">
        <app-login></app-login>
    </div>
    <div>
        <div class="messages">
            <header>Ares<em>, sua plataforma de administração inteligente</em></header>
            <section>É importante conhecer os desafios e elaborar projetos que possam de fato desenvolver e melhorar a vida das pessoas. Sua empresa agora pode obter métricas de desempenho e acompanhar, a execução
                destes projetos em tempo real.</section>
            <section>Pensando nas atividades e fatores que podem tornar uma cidade mais inteligente, suas metas também precisam ser "smart": específicas, mensuráveis, atingíveis, relevantes e temporais.</section>
            <section>Junte-se a esta realidade, abordando Smart Cities sob todos seus ângulos e tenha uma visão 360º da sua empresa.</section>
        </div>
        
    </div>
</div>
<footer>Desenvolvido por <strong>João Paulo</strong></footer>