.cabecalho-tarefas{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 15px;
    background-color: rgb(228, 227, 227);
    font-size: 1.5rem;
    padding: 2px;
}
.title{
    display: flex;
    flex-direction: column;
    align-self: center;

}
.statusnotif{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
}
.statusnotif > button{
  margin-left: 10px;
  margin-bottom: 15px;
}
