<form [formGroup]="form">

  <div class="container">
    <div class="row">
      <p class="p-3 mt-3 form-tittle">{{title}}</p>
    </div>

    <form [formGroup]="form" class="d-flex flex-column">
      <div class="d-flex justify-content-between">

        <div class="col-4 col-md-6">

          <select-itens-financiaveis (onSelected)="onSelectItem($event)"></select-itens-financiaveis>

        </div>
        <div class="col-4 col-md-2">
          <label class="form-label" for="qtditemfinanc">Quantidade:</label>
          <input type="text" class="form-control" name="qtditemfinanc" id="qtditemfinanc"
            formControlName="qtditemfinanc">
        </div>
        <div class="col-4 col-md-2">
          <label class="form-label" for="qtditemfinanc">Valor unitário (R$):</label>
          <input type="text" class="form-control" name="valorunit" id="valorunit" formControlName="valorunit">
        </div>

      </div>

    </form>
    <div class="d-flex justify-content-end m-3">
      <button type="button" class="btn btn-secondary mr-5" (click)="onClose()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="onConfirm()">Registrar</button>
    </div>
  </div>
</form>
