<form [formGroup]="form">
    <p class="mt-2 form-tittle">Modelos de Relatórios de ATER</p>
    <div class="row">

        <div class="form-group col col-md-6">
            <label for="search">Pesquisar por assunto</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" (click)="onSearch()" id="basic-addon">
                        <span class="material-icons" tooltip="Localizar modelos de relatórios semelhantes">
                            manage_search
                        </span>
                    </span>
                </div>
                <input type="text" placeholder="ex.: milho dap chamada" (keyup.enter)="onSearch()" class="form-control" formControlName="search" name="search" id="search" required>
            </div>
            <error-message
                *ngIf="form.controls.search.invalid && (form.controls.search.dirty || form.controls.search.touched)"
                errorMessage="Você deve especificar um assunto, texto ou frase com pelo menos 05 caracteres"></error-message>
        </div>

    </div>
 
</form>
<div>

    <div *ngIf="relatorios$ | async as relatorios">
        <ares-loading *ngIf="loaded$ | async " class="spinner"></ares-loading>
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <td>Situação atual</td>
                        <td>Orientação</td>
                        <td>Recomendação</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of relatorios">
                        <td tooltip="Clique para utilizar e editar este modelo." (click)="onThisSelection(r)">
                            {{r.SITUACAO}}
                        </td>
                        <td tooltip="Clique para utilizar e editar este modelo." (click)="onThisSelection(r)">
                            {{r.ORIENTACAO}}
                        </td>
                        <td tooltip="Clique para utilizar e editar este modelo." (click)="onThisSelection(r)">
                            {{r.RECOMENDACAO}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>