<div class="menu">
  <button class="btn btn-primary" tooltip="Daes em aberto primeiro" (click)="orderByDae()">
    <i class="bi bi-search"></i> DAE's em aberto
  </button>
  <button class="btn btn-primary" tooltip="ART/TRT em aberto primeiro" (click)="orderByTrt()">
    <i class="bi bi-search"></i> ART/TRT em aberto
  </button>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Beneficiários</th>
      <th scope="col">Itens Financiados</th>
      <th scope="col">Status

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tasks$ | async">
      <td (dblclick)="copyValue(t.cpf)" style="width: auto;">
        {{t.data | date:'dd/MM/yyyy'}}
      </td>
      <td (dblclick)="copyValue(t.cpf)" tooltip="Clique duas vezes para copiar o CPF desta pessoa" style="width: 30%;">
        {{t.customername}}
      </td>
      <td (dblclick)="copyValue(t.cpf)" tooltip="Clique duas vezes para copiar o CPF desta pessoa" style="width: 30%;">
        {{t.itemfinanciado}}
      </td>

      <!-- Botões de ação -->
      <td style="width: auto;">

        <button (click)="openproject(t.idvisita)" *ngIf="t.idvisita" class="btn text-warning"
          tooltip="Ver detalhes da visita com Projetos elaborados">
          <i class="bi bi-pencil-square"></i>
        </button>
        <!-- Pagamento de DAE's -->
        <button (click)="quitDae(t.idvisita, t.rdaok)" *ngIf="!t.rdaok" class="btn text-danger"
          tooltip="DAE não foi quitada nem emitida">
          <i class="bi bi-cash-stack"></i>
        </button>

        <button (click)="quitDae(t.idvisita, t.rdaok)" *ngIf="t.rdaok" class="btn text-success"
          tooltip="DAE foi quitada">
          <i class="bi bi-cash-stack"></i>
        </button>

        <!-- Pagamento de TRT's -->
        <button (click)="quitTrt(t.idvisita, t.trtok)" *ngIf="!t.trtok" class="btn text-danger"
          tooltip="TRT/ART não foi quitada nem emitida">
          <i class="bi bi-file-richtext"></i>
        </button>
        <button (click)="quitTrt(t.idvisita, t.trtok)" *ngIf="t.trtok" class="btn text-success"
          tooltip="TRT/ART foi quitada">
          <i class="bi bi-file-richtext"></i>
        </button>

      </td>
    </tr>
  </tbody>
</table>