<p class="form-tittle">Principais indicadores</p>
<table class="table table-hover" *ngIf="indicadoresCepea$ | async as ds">
    <thead>
        <tr>
            <th scope="col col-md-1">Data</th>
            <th scope="col col-md-3">Produção</th>
            <th scope="col col-md-1">Unid</th>
            <th scope="col col-md-1">Preço (R$)</th>
            <th scope="col col-md-6">Comentários</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of ds"  >
            <td>{{d.data | date: 'dd/MM/yyyy'}}</td>
            <td>{{d.producao}}</td>
            <td>{{d.unidade}}</td>
            <td>{{d.valor}}</td>
            <td><em>{{d.coments}}</em></td>           
        </tr>
    </tbody>

</table>
<div class="row">
    <div class="col">
        <canvas #leite></canvas>
    </div>
    <div class="col">
        <canvas #boigordo></canvas>
    </div>
    <div class="col">
        <canvas #bezerro></canvas>
    </div>
    <div class="col">
        <canvas #milho></canvas>
    </div>
</div>