<header class="p-3 mb-2 bg-primary justify-content-between text-white">
    <div class="row">
        <div class="logo col col-sm-4">
            <span>
                Ares
            </span>
        </div>

        <div class="col">
            <div class="row"> 
                <ng-template #loading>
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                </ng-template>
            </div>
            <div *ngIf="isloading$ | async; else loading">
                <div class="row">
                    <div class="partner-data col col-12">
                        <p>{{partner}}</p>
                    </div>
                    <div class="logged-data col" *ngIf="isloading$ | async else loading">
                        <nav>
                            <ul>
                                <li class='dropdown'>
                                    <a href='#'><i class="fa fa-angle-down">
                                        </i>{{division}}, {{timeRem}}</a>

                                    <div class='mega-menu'>
                                        <div class="item">
                                            <ul>
                                                <li><a href='/users/private/documentation'>Sobre</a></li>
                                                <li><a href='/users/private/contract'>Contrato</a></li>
                                                <li><a href='/logout'>logout</a></li>
                                            </ul>
                                        </div> <!-- /.item -->
                                    </div><!-- /.mega-menu -->
                                </li><!-- /.dropdown -->

                            </ul><!-- .container -->
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-between align-items-baseline">
        <div class="btn-div-point mr-3" (click)="gotoHome()">
            <i class="fa fa-home" aria-hidden="true"></i>Home 
        </div>
        <div class="mb-auto pl-2">
            <div *ngIf="isloading$ | async; else loadinguser" class="user-data d-flex justify-content-start">
                <div class="mr-5">
                     {{username}}
                </div>
                <div class="badge btn-div-point" *ngIf="mytasks$ | async as tasks" (click)="viewmytasks()">
                    <span>{{tasks.tasks}}</span>
                </div>
            </div>
        </div>
        <ng-template #loadinguser>
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        </ng-template>
    </div>
</header>