<header class="p-3 mb-2 bg-primary text-white">
    <div class="logo">
        <p>Ares - JP</p>
    </div>
    <div class="menu">
        <ul>
            <li (click)="gotoHome()">
                Home
            </li>
            <li (click)="gotoContact()">
                Contact
            </li>
            <li (click)="gotoAbout()">
                About
            </li>
        </ul>
    </div>
    <div class="partner-data" *ngIf="isloading$ | async; else loading">
        <p>{{partner}}</p>
        <p>{{division}}</p>
    </div>
    <ng-template #loading>...carregando dados!</ng-template>
    <div class="logged-data" *ngIf="isloading$ | async; else loading">
        <p>{{username}}, {{timeRem}}</p>
        <div class="option-log">
            <a href="contract" class="contract"></a><a href="about" class="about"></a><a href="logout"
                class="logout"></a>
        </div>
    </div>
</header>