<header class="p-3 mb-2 bg-primary justify-content-between text-white container">
    <div class="row">
        <div class="logo col col-sm-3">
            <p>
                <span>
                    Ares - JP
                </span>

            </p>
        </div>

        <div class="col">
            <div class="row">
                <ng-template #loading>
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                </ng-template>
            </div>
            <div *ngIf="isloading$ | async; else loading">
                <div class="row">
                    <div class="partner-data col">
                        <p>{{partner}}</p>
                        <p>{{division}}</p>
                    </div>
                    <div class="logged-data col" *ngIf="isloading$ | async else loading">
                        <nav>
                            <ul>
                                <li class='dropdown'>
                                    <a href='#'><i class="fa fa-angle-down"></i>{{username}}, {{timeRem}}</a>
                                    <div class='mega-menu'>
                                        <div class="item">
                                            <ul>
                                                <li><a href='/users/private/documentation'>Sobre</a></li>
                                                <li><a href='/users/private/contract'>Contrato</a></li>
                                                <li><a href='/logout'>logout</a></li>
                                            </ul>
                                        </div> <!-- /.item -->
                                    </div><!-- /.mega-menu -->
                                </li><!-- /.dropdown -->
                            </ul><!-- .container -->
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>

</header>