<button class="btn btn-primary mb-3 mt-3" (click)="createNew()" data-toggle="tooltip" title="Criar novo departamento">
    Novo Departamento
</button>
<div *ngIf="users$ | async as users else loading">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Divisão de planejamento
                </th>
                <th scope="col"> 
                    email
                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.email}}
                </td> 
                <td>
                    <button (click)="onEdit(user.id)" class="btn" data-toggle="tooltip" title="Editar dados deste Divisão">
                        <span class="material-icons">
                            edit_note
                        </span>
                    </button>
                    <button *ngIf="!user.lockedDate" (click)="onLock(user.id)" class="btn" data-toggle="tooltip" title="Bloquear Divisão">
                        <span class="material-icons">
                            lock
                        </span>
                    </button>
                    <button *ngIf="user.lockedDate"  (click)="onLock(user.id)" class="btn" data-toggle="tooltip" title="Desbloquear Divisão.">
                        <span class="material-icons">
                            lock_open
                        </span>
                    </button>
                    <button (click)="onExtend(user.id)" class="btn" data-toggle="tooltip" title="Prorrogar utilização">
                        <span class="material-icons">
                            history
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #loading>
    <ares-loading class="spinner"></ares-loading>
</ng-template>